.backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 75px;
    left: 0;
    margin: 20px;
    color: var(--accent);
    background-color: white;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: 0.1s;
}

.backButton:hover {
    background-color: var(--accent);
    color: var(--background);
}

.friendListsContainer {
    display: flex;
    margin: auto;
}

.friendsList {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 40px 20px;
    min-width: 400px;
    height: 500px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.friendsList .scrollable {
    flex: 1;
    overflow-y: auto;
}

.friendItem {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 5px;
}

.spacer {
    flex-grow: 1;
}

.search {
    margin-bottom: 5px;
    width: 100%;
}

.removeButton,
.denyButton,
.cancelButton {
    color: red;
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    transition: 0.1s;
}

.removeButton:hover,
.denyButton:hover,
.cancelButton:hover {
    background-color: red;
    color: white;
}

.addButton,
.acceptButton {
    color: green;
    background-color: white;
    border: 1px solid green;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    transition: 0.1s;
}

.addButton:hover,
.acceptButton:hover {
    background-color: green;
    color: white;
}