.poopContainer {
    margin: 80px auto 0 auto;
    width: 100%;
    min-height: 100vh;
}

.button {
    display: flex;
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgb(109, 35, 35);
    align-items: center;
    justify-content: center;
    font-size: 32px;
    transition: 0.2s;
    font-weight: bold;
    text-decoration: none;
}

.addPoopButton {
    right: 20px;
    bottom: 20px;
    background-color: rgb(150, 108, 74);
    color: white;
}

.addPoopButton:hover {
    background-color: transparent;
    color:rgb(109, 35, 35);
}

.scrollToTop {
    right: 20px;
    bottom: 90px;
    background-color: transparent;
    color:rgb(109, 35, 35);
}

.scrollToTop:hover {
    background-color: rgb(150, 108, 74);
    color:white;
}

.scrollToTop.hidden {
    opacity: 0;
}

@media (min-width: 769px) {
    .poopContainer {
        width: 50%;
    }
}
