.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto;
    width: 65%;
    align-items: center;
    justify-content: center;
}

.container .titleContainer {
    text-align: center;
}

.container h1 {
    color: var(--accent);
    font-family: 'Chakra Petch', sans-serif;
    letter-spacing: -1px;
    font-size: 4rem;
}

.container .loginForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: var(--background);
    border-radius: 8px;
    align-items: center;
    width: 300px;
    margin: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.container .loginForm input {
    text-align: left;
    padding: 3px 10px;
    width: 90%;
    border-radius: 3px;
    border: 1px solid gray;
}

.container .loginForm button {
    background-color: var(--accent);
    transition: background-color 0.3s;
    color: var(--background);
    border: none;
    padding: 5px 10px;
    width: 50%;
    border-radius: 3px;
}

.container .loginForm button:hover {
    background-color: var(--accent-muted);
}

.container .loginForm .error {
    color: var(--error);
    margin-bottom: 0;
}

.loginData {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 3px;
}

.loginData table {
    border-collapse: separate;
    border-spacing: 20px 5px;
}

.languageSelectorContainer {
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    border-radius: 3px;
}

@media (min-width: 769px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .container .titleContainer {
        text-align: left;
    }

    .container .loginForm {
        width: 400px;
    }
}
