.mainNavigation {
    display: flex;
    position: relative;
    background-color: var(--background);
    width: 100%;
    height: 75px;
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.3);
    z-index: 100;
    align-items: center;
    padding: 0 40px;
}

.mainNavigation .logo {
    color: var(--accent);
    font-family: "Chakra Petch", sans-serif;
    letter-spacing: -1px;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 500;
}

.mainNavigation .spacer {
    flex-grow: 1;
}

.mainNavigation .buttonsContainer {
    display: flex;
    gap: 60px;
    margin-left: 20px;
}

.mainNavigation .languageButton {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.mainNavigation .languageButton span {
    font-size: 1.2rem;
}

.mainNavigation .profileButton {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.mainNavigation .profileButton .userIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--background);
    font-weight: bold;
    margin-right: 8px;
    margin: 0;
}