.poopItem {
    position: relative;
    background-color: var(--background);
    padding: 20px 30px;
    margin: 20px auto;
    border-radius: 3px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.poopItem .nameContainer {
    display: flex;
}

.poopItem .nameContainer p {
    margin-bottom: 0;
}

.poopItem .nameContainer .userIcon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--accent);
    color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: auto 16px auto 0;
}

.poopItem .optionsButton {
    position: absolute;
    top: 25px;
    right: 30px;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
}

.poopItem .mainDataContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

.poopItem .mainDataContainer .svgContainer {
    display: flex;
    width: 150px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
}

.poopItem .mainDataContainer .rating {
    font-size: 30px;
}

.poopItem .map {
    margin-top: 20px;
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 5px;
}