.poopItem {
    position: relative;
    background-color: white;
    padding: 20px 30px;
    margin: 20px auto;
    border-radius: 3px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    width: 100%;
}

.poopItem .nameContainer {
    display: flex;
}

.poopItem .nameContainer p {
    margin-bottom: 0;
}

.poopItem .nameContainer .userIcon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgb(150, 108, 74);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 8px;
    border: 2px solid rgb(109, 35, 35);
    margin: auto 16px auto 0;
}

.poopItem .optionsButton {
    position: absolute;
    top: 25px;
    right: 30px;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
}

.poopItem .map {
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 5px;
}

.popup {
    position: absolute;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
}

.popup ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.popup ul li {
    cursor: pointer;
    padding: 10px;
    transition: 0.2s;
}

.popup ul li:hover {
    background-color: #ededed;
}