.profileButton {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.profileButton .userIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--background);
    font-weight: bold;
    margin-right: 8px;
    margin: 0;
}