.profileOverviewContainer {
    width: 100%;
    height: fit-content;
    padding: 30px 40px 20px 40px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.userData {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 20px;
}

.userData .userIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    border: 3px solid var(--accent);
    color: var(--background);
    width: 80px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 8px;    
}

.userData .username {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 0;
    color: #222;
}

.userData .role {
    margin: 0;
}

.userData .username span {
    color: var(--accent-muted);
}

.friendsContainer {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.friendsContainer .friendsButton {
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    padding: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

.friendsContainer .friendsButton:hover {
    background-color: white;
}

.friendsContainer .newRequestsButton {
    color: black;
    text-decoration: none;
    position: relative;
    margin: 10px 0;
}

.friendsContainer .newRequestsButton:hover {
    text-decoration: underline;
}

.friendsContainer .newRequestsButton::after {
    content: '';
    position: absolute;
    top: -3px;
    right: -12px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
}

.friendsContainer .newRequestsButton p,
.friendsContainer .friendsButton p {
    margin: 0;
}