.sidebar {
    display: inline-flex;
    flex-direction: column;
    background-color: var(--background);
    width: 250px;
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.3);
    padding: 120px 40px 0 40px;
    z-index: 90;
}

.sidebar .sidebarItem {
    position: relative;
    width: fit-content;
    color: black;
    font-size: 1.25rem;
    text-decoration: none;
    margin-bottom: 15px;
    padding: 0 10px 2px 2px;
}

.sidebar .sidebarItem::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--accent);
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

.sidebar .sidebarItem.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.sidebar .sidebarItem:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
