.container {
    display: flex;
    flex-direction: column;       
    height: 100vh;               
    margin: auto;                
    width: 65%;  
    align-items: center;
    justify-content: center;
}

.container h1 {
    color: brown;
    font-family: "Chakra Petch", sans-serif;
    letter-spacing: -1px;
    font-size: 3.5rem;
}

.container .registerForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px; 
    align-items: center;
    width: 400px;
    margin: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
}

.container .registerForm input {
    text-align: left;
    padding: 3px 10px;
    width: 90%;
    border-radius: 3px;
    border: 1px solid gray;
}

.container .registerForm button {
    background-color: rgb(165, 42, 42);
    transition: background-color 0.3s;
    color: white;
    border: none;
    padding: 5px 10px;
    width: 50%;
    border-radius: 3px;
}

.container .registerForm button:hover {
    background-color: rgb(196, 122, 122);
}

.container .registerForm .error {
    color: red;
    margin-bottom: 0;
}